

            <section id="Catalog">
                <h1>СЪВЕТИ ЗА МАМА</h1>
                <div class="band">

                    <!-- If there are posts for creature in the database display each of them -->
                    <div class="flip flip-vertical">
                        <div class="front">
                            <img src="/img/fuer-kinder.jpg"
                                alt="Fuer-kinder">
                        </div>
                        <div class="back">
                            <h1>ДЕЦАТА</h1>
                            <h2>ТЕМА: Емоцията при децата</h2>
                            <p> Не се плашете да си държите детето в прегръдка, това е нужна и успокоявашо за детето.   
                             То иска да усети ритъма на вашето сърце, тъй като още по-време на бремеността, то първо
                             чува ритъма на сърцето ни, след това гласа ни, затова когато плачат и ние ги вземем на ръце и им говорим с спокоен 
                             темперамент, те се успокояват. 
                            </p>
                            <a href="#" class="details">ОЩЕ</a>
                        </div>
                    </div>

                    <div class="flip flip-vertical">
                        <div class="front">
                            <img src="/img/photo_walnuts.jpeg"
                                alt="Photo_Walnuts">
                        </div>
                        <div class="back">
                            <h1>ЗДРАВЕТО</h1>
                            <h2>ТЕМА: Кашлица</h2>
                            <p>Кашлицата е важен и физиологичен протективен рефлекс,
                                 който изчиства дихателните пътища от секрети, 
                                 инхалирани или аспирирани частици. Домашна рецепта: 
                                 1 брой орех с костилката,
                                 4 броя шипка
                                 1 брой лукче
                                 В една малка тенджера слагате ореха, лукче и шипка, оставяте 
                                 да заври, когато почне да ври засичате около 10-15 минути. След 
                                 това изчаквате да  истине до стайна температура и няколко дена до като се изчисти кашлицата 
                                 да пие детето по една чаша.</p>
                            <a href="#" class="details">ОЩЕ</a>
                        </div>
                    </div>

                    <div class="flip flip-vertical">
                        <div class="front">
                            <img src="/img/sea-salt.png"
                                alt="Home-Alone">
                        </div>
                        <div class="back">
                            <h1>НОВОРОДЕНО БЕБЕ</h1>
                            <h2>ТЕМА: КЪПАНЕ</h2>
                            <p>Едно новородено бебе, как се къпе? 
                               Първо при готвяме водата, която трябва да бъде около 32-35 градуса, 
                               след това в чаша с  вода слагаме 1-2 щипка едра сол, разбъркваме и след това я добавяме 
                               във ваната и за почваме с къпането.
                             </p>
                            <a href="#" class="details">ОЩЕ</a>
                        </div>
                    </div>

                    <!-- If there are still no posts in the database display: -->
                    <!-- <div class="no-posts">
                        <p class="no-offer">There are no posts yet...</p>
                    </div> -->
                </div>
            </section>
    